  <ion-view view-title="Sitios de Interés">
  <ion-content class="padding ">
    <div class="card">
         <div class="item item-divider">
           <h1 class="title">Sitios de Interés</h1>
         </div>
         <hr>
         <div class="button-bar">
           <a class="button icon-right ion-chevron-right button-dark" href="http://www.unne.edu.ar/">UNNE</a>
           <a class="button icon-right ion-chevron-right button-dark" href="http://exa.unne.edu.ar/">FaCENA</a>
         </div>
         <div class="item item-divider">
           <hr>
         </div>
         <div class="button-bar">
           <a class="button icon-right ion-chevron-right button-dark" href="http://www.exa.unne.edu.ar/docs/Calendario%20de%20Examenes%202016_RES.%203760-15%20D.pdf">PDF</a>
           <a class="button icon-right ion-chevron-right button-dark" href="http://guarani.exa.unne.edu.ar/g3w/">SIU</a>
         </div>
         <div class="item item-divider">
           <hr>
         </div>
         <div class="button-bar">
           <a class="button icon-right ion-chevron-right button-dark" href="http://exa.unne.edu.ar/institucional/superiores.php">Autoridades</a>
           <a class="button icon-right ion-chevron-right button-dark" href="http://exa.unne.edu.ar/departamentos/index.php">Departamentos</a>
         </div>
         <div class="item item-divider">
           <hr>
         </div>
         <div class="button-bar">
           <a class="button icon-right ion-chevron-right button-dark" href="http://exa.unne.edu.ar/carreras/grado.php">Carreras</a>
           <a class="button icon-right ion-chevron-right button-dark" href="http://www.exa.unne.edu.ar/docs/CALENDARIO%20Academico%202016_Res.942-15%20CD.pdf">Calendario</a>
         </div>

  </ion-content>
  </ion-view>
