
    <ion-tabs class="tabs-icon-top tabs-striped tabs-background-dark tabs-color-stable ">

    	<ion-tab  hidden="true">
      		<ion-nav-view name="tab-home"></ion-nav-view>
  		</ion-tab>

	    <ion-tab icon="ion-ios-calendar-outline" title="Mesas" href="#/tab/mesas">
	    	<ion-nav-view name="tab-mesas"></ion-nav-view>
	  	</ion-tab>

	    <ion-tab icon="ion-link" title="Sitios de Interés" href="#/tab/interes">
	    	<ion-nav-view name="tab-interes"></ion-nav-view>
	  	</ion-tab>

	  	<ion-tab hidden="true">
      		 <ion-nav-view name="info"></ion-nav-view>
  		</ion-tab>


    </ion-tabs>
